@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* .image-container {
  width: 100%;

  > div {
    position: unset !important;
  } */

  /* .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
} */

.product-image {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}


.product-image-container {
  height: 200px; /* Set a fixed height */
  background-color: #f0f0f0; /* Optional: a light background color to fill empty space */
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

/* Custom link class */
.link-style {
  @apply text-red-500 text-lg md:text-2xl lg:text-3xl xl:text-3xl font-bold mr-4 hover:animate-bounce;
}

/* Icon classes with different hover animations */
.icon-pulse {
  @apply ml-1 w-8 h-8 text-red-500 hover:animate-pulse;
}

.icon-bounce {
  @apply ml-1 w-8 h-8 text-red-500 hover:animate-bounce;
}

.icon-spin {
  @apply ml-1 w-8 h-8 text-red-500 hover:animate-spin;
}
